In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.DataFrame({'key1':['a','a','b','b','a'], 'key2':['one','two','one','two','one'], 'data1':np.random.randn(5), 'data2':np.random.randn(5)})

In [5]:
df

  key1 key2     data1     data2
0    a  one  0.878946 -0.708260
1    a  two  0.208866 -0.931603
2    b  one -0.039107 -0.055798
3    b  two -0.172218  0.059272
4    a  one  1.096398  0.825460